/.venv
/__pycache__
/audio/__pycache__
/core/__pycache__
/data/__pycache__
/entities/__pycache__
/input/__pycache__
/levels/__pycache__
/physics/__pycache__
/plugins/__pycache__
/rendering/__pycache__
/scenes/__pycache__
/tests/__pycache__
/tools/__pycache__
*.pyc
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/
/.coverage
/data/loc_progress.json
